body { font-family: 'Molengo', arial, serif; font-size: 14pt; width: 850px; margin-left: 1.0em; }
button { font-family: 'Molengo', arial, serif; font-size: 12pt; }
h1 { font-family: 'Inconsolata'; font-size: 32pt; font-weight: bold; }
